@import 'common';

.card {
  height: $card-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;

  .cardBtn {
    flex-grow: 1;
    width: 100%;
    text-align: center;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .question {
    background: $col1;
    transition: color 0.5s;
    color: $col4;
  }

  .question:hover {
    color: rgb(45, 45, 45);
  }

  .answer {
    background: $col2;
    transition: background 0.4s, color 0.4s;
    color: $white;
  }

  .answer:hover, .flipped {
    background: $col4;
    color: $col1;
  }
}
