@import 'common';


$card-half-height: $card-height / 2;
$free-space: 100vh - $card-height;
$settings-height: $free-space + $card-half-height;

.settings {
  background-color: $col4;
  color: $col4;
  height: $free-space + $card-half-height;
  width: 100%;
  position: absolute;

  transition: top 0.5s;
  top: $card-height;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive-font($mainFontSize, $minFontSize, $maxFontSize);
    height: $free-space;

    background: $col1;
    transition: background 0.5s;
  }

  .heading:hover {
    background: $col5;
  }

  .settingsContent {
    $padding: 3vmax;
    height: calc(100% - #{$free-space});
    color: $white;
    box-sizing: border-box;
    padding: $padding;
    font-size: $smallerFont;

    .groupSelect {
      height: 50%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: space-around;
      padding-bottom: $padding;
      box-sizing: inherit;

      .chordGroup {
        width: calc(100% * (1/4) - 10px - 1px);
        white-space: nowrap;
      }
    }

    .selectedChords {
      height: 50%;
      font-size: $smallerFont - 1;
      overflow-y: auto;

      .selectedHeading {
        font-size: $smallerFont;
        font-weight: bold;
      }
    }
  }
}

.settings.active {
  top: $card-half-height;

  .heading {
    background: $col5;
  }

  .heading:hover {
    background: $col3;
  }
}
