@import 'common';


$card-half-height: $card-height / 2;
$free-space: 100vh - $card-height;
$settings-height: $free-space + $card-half-height;

.settings {
  background-color: $col4;
  color: $col4;
  height: $free-space + $card-half-height;
  width: 100%;
  position: absolute;

  transition: top 0.5s;
  top: $card-height;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: $free-space;

    background: $col1;
    transition: background 0.5s;
  }

  .heading:hover {
    background: $col5;
  }

  .settingsContent {
    height: calc(100% - #{$free-space});

    .groupSelect {
      height: 100%;
      box-sizing: border-box;
      padding: 4vmax;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: space-around;
      color: $white;

      .chordGroup {
        width: calc(100% * (1/4) - 10px - 1px);
      }
    }
  }
}

.settings.active {
  top: $card-half-height;

  .heading {
    background: $col5;
  }

  .heading:hover {
    background: $col3;
  }
}
